@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #000;

}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  width: 58%; 
  margin: 0 auto;
}

/* for shadow */

.img-shadow{ box-shadow: 10px 10px #53d494; }

/*=================================
  Header styling starts here
=================================*/

.header-section {
  position: absolute;
  top: 26px;
  left: 5.7%;
  right: 7.5%;
  display: flex;
  align-items: center;
  color: #fff;
}

.logo {
  flex-basis: 33.6%;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.menu {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  flex-basis: 66.3%;
}

.top-nav { flex-basis: 44%; }

.nav-items {
  display: flex;
  justify-content: space-between;
  flex-basis: 90%;
}

.nav-items li a {
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
}

.nav-items li a:hover { color: #53d494; }

.active {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
}

.hamburger-div { display: none; }

.btn {
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.contact-btn {
  padding: 8px 19px;
  border: 1px solid #53d494;
  color: #53d494;
}

.contact-btn:hover {
  background-color: #53d494;
  color: #fff;
}


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner section styling starts here */

  .banner {
    height: 912px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../image/bg.jpg") no-repeat fixed center;
    background-size: cover;
  }

  .banner .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .banner-title { 
    width: 35%;
    margin: 0 auto;
    color: #fff;
    font-size: 100px;
    font-weight: 800;
    line-height: 1.3;
    text-align: center;
    text-transform: capitalize;
  }

/* banner section styling ends here */


/* gym-data styling starts here */

.gym-data {
  padding: 84px 0;
  color: #fff;
}

.gym-data-list {
  display: flex;
  justify-content: space-between;
}

.gym-data-list li {
  flex-basis: 25%;
  display: flex;
  align-items: center;
}

.count { 
  display: inline-block;
  font-size: 45px; 
  font-weight: 500;
}

.gym-data-name {
  display: block;
  color: #474e46;
  font-size: 14px;
  font-weight: 100;
  text-transform: capitalize;
}

.font-icon::before {
  margin-right: 28px;
  color: #53d494;
  font-family: "FontAwesome";
  font-size: 51px;
  font-weight: 100;
}

.members::before { content: "\f70c"; }

.visitors::before { content: "\f84a"; }

.health-program::before { content:  "\e3b2"; }

.heart-beat::before { content:  "\f21e"; }

/* gym-data styling ends here */


/* communicate-section starts here*/

.communicate {
  padding: 31px 0;
  color: #fff;
}

.communicate .wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.communicate-text { flex-basis: 40%; }

.communicate-img { flex-basis: 48%; }

.section-title {
  padding: 32px 0;
  color: #53d494;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
}

.section-info {
  color: #474e46;
  font-size: 17px;
  line-height: 1.6;
}

.communicate-btn {
  padding: 23px 26px;
  position: absolute;
  left: 0;
  bottom: 25%;
  background-color: #53d494;
  color: #000;
  font-size: 12px;
  font-weight: 800;
  line-height: 1;
}

.communicate-btn:hover, .submit-btn:hover, .sub-btn:hover {
  border: 1px solid #53d494;
  background-color: inherit;
  color: #53d494;
}

/* communicate-section ends here */

/* gym-classes starts here */

  .gym-classes { padding: 116px 0; }

  .section-text { width: 47.5%; }

  .gym-slider {
    margin-top: 70px;
    display: flex;
    overflow: hidden;
  }

  .slide-img { order: calc(inherit + 4); }

  .gym-slider li img { width: 475px; }

  .radio-section {
    margin: 46px auto;
    display: flex;
    justify-content: center;
  }

  .radio-btn {
    padding: 5px;
    border: none;
    border-radius: 50%;
  }

  .active-slide { background-color: #53d494; }

  .radio-btn:not(:last-child) { margin-right: 10px; }

/* gym-classes ends here */

/* schedule section starts here */

  .weekly-schedule {
    margin: 58px 0;
    color: #fff;
    display: flex;
    flex-direction: column;
  }

  .day-list {
    width: 56%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .day {
    padding: 16px 18px;
    background: none;
    border: none;
    color: #53d494;
    font-size: 17px;
    text-transform: capitalize;
  }

  .selected, .day:hover {
    border-radius: 5px;
    background-color: #53d494;
    color: #fff;
  }

  .time-table {
    margin-top: 47px;
    border: 1px solid #c6cace;
    display: flex;
    flex-direction: column;
    color: #c6cace;
  }

  .time-table-item {
    flex-basis: 100%;
    display: flex;
  }

  .time-table-item p, .time-table-item a { 
    padding: 20px 0 21px 10px;
    border-right: .3px solid #c6cace;
    border-bottom: .3px solid #c6cace; 
  }

  .exercise-type { flex-basis: 24.2%; }

  .timing { flex-basis: 32.7%; }

  .weekly-schedule .trainer-name { flex-basis: 24.4%; }

  .exercise-type, .trainer-name { text-transform: capitalize; }

  .join-btn {
    border-right: none;
    flex-basis: 17%;
    color: #53d494;
    text-align: center;
    text-transform: capitalize;
  }

/* schedule section ends here */

/* trainer section starts here */

.trainers-section { margin: 164px 0; }

.trainers {
  margin-top: 63px;
  display: flex;
  justify-content: space-between;
}

.trainer-list {
  flex-basis: 29%;
  color: #474e46;
}

.trainer-list:nth-child(2n) { margin-top: 48px; }

.trainer-text { margin-top: 50px; }

.trainers-section .trainer-name {
  color: #fff;
  font-size: 27px;
  line-height: 1;
} 

.trainer-speciality { 
  margin: 17px 0 36px;
  font-size: 16px;
  line-height: 1;
  text-transform: capitalize;
 }
/* trainer section ends here */

/* service section starts here */

.service-section { margin-bottom: 98px; }

.service-section .section-title { width: 85%; }

.card-section { 
  display: flex;
  justify-content: space-between;
  color: #fff; 
}

.cards {
  box-sizing: border-box;
  padding: 70px 63px;
  margin-top: 62px;
  flex-basis: 31.5%;
  background-color: #53d494;
}

.card-title {
  margin: 35px 0;
  font-size: 25px;
  text-transform: capitalize;
}

.card-info {
  color: #c1f1db;
  font-weight: 100;
  line-height: 2;
}

.crossfit::before { content: "\f787"; }

.aerobics::before { content: "\f21e"; }

.gym::before { content: "\f44b"; }

.service-section .font-icon::before { 
  color: #fff; 
  font-size: 50px;
}

/* service section ends here */

